#textdomain wesnoth-Electrifyre

[scenario]
    id=06B_Dark_Tunnel
    name=_"Dark Tunnel"
    next_scenario=07B_Lake_in_the_Depths

    map_file=06B_Dark_Tunnel.map

    victory_when_enemies_defeated=no
    {TURNS 24 22 20}
    {CAMPAIGN_XP_MODIFIER}

    {DEFAULT_MUSIC_PLAYLIST}
    {DEEP_UNDERGROUND}

    {STORY_SIX_B}

    # side: player
    [side]
        side=1
        controller=human
        
        {CHARACTER_STATS:HIKARU}
        facing=se

        {FACTION_SIDE:ARAGWAITHI}
        recruit={RECRUITS:ARAGWAITHI}

        fog=yes
        shroud=yes
        share_vision=none

        {GOLD 50 40 25}
        {INCOME 2 1 0}
    [/side]

    # prestart event
    [event]
        name="prestart"

        {RECALL Soryu}
        {RECALL Eikichi}

        [unit]
            x,y=32,5
            side=1
            {CHARACTER_STATS:AYANAMI}
        [/unit]

        # adjust recall costs
        {ADJUST_RECALL_COST}
    [/event]

    # start event
    [event]
        name="start"
    [/event]

    

    # player units death event
    {DEFEAT_EVENT:HIKARU}
    {DEFEAT_EVENT:SORYU}
    {DEATH_EVENT:RYUUMA}
[/scenario]