#textdomain wesnoth-Electrifyre

[unit_type]
    id=Imperial Sentinel
    name= _ "Imperial Sentinel"
    race=imperial
    image="units/imperials/sentinel.png"
    
    hitpoints=32
    movement_type=smallfoot 
    [resistance]
        cold=110
        fire=110
        pierce=80
        blade=90
        impact=90
    [/resistance]
    movement=5
    experience=33
    level=1
    alignment=liminal
    advances_to=Imperial Purifier,Imperial Windblade
    cost=13
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/imperials/sentinel.png" "units/imperials/sentinel.png" {SOUND_LIST:HUMAN_HIT} }
    [attack] 
        [specials]
            {WEAPON_SPECIAL_HONORABLE}
        [/specials]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/sword-human-short.png
    [/attack]

    {GENERIC_SWORD_ANIM sword "units/imperials/sentinel.png"}
[/unit_type]
