#textdomain wesnoth-Electrifyre

[unit_type]
    id=Imperial Sentinel
    name= _ "Sword Sentinel"
    race=imperial
    image="units/imperials/sentinel.png"
    
    hitpoints=29
    movement_type=smallfoot 
    [resistance]
	cold=110
	fire=110
      arcane=50
	pierce=100
	blade=100
	impact=100
    [/resistance] 
    movement=5
    experience=30
    level=1
    alignment=lawful
    advances_to=Sword_purifier,Stormtrooper
    cost=12
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/imperials/sentinel.png" "units/imperials/sentinel.png" {SOUND_LIST:HUMAN_HIT} }
    [attack] 
        [specials]
            {WEAPON_SPECIAL_HONORABLE}
        [/specials]
        name=sword
        description=_"white sword"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/sword-human-short.png
    [/attack]

[/unit_type]
