#textdomain wesnoth-Electrifyre

#define CHARACTER_STATS:HIKARU
    id="Hikaru"
    name= _ "Hikaru"
    unrenamable=yes
    type="Aragwaith Longswordsman"
    # a portrait would be nice
    # portrait=""
    experience={ON_DIFFICULTY 20 12 4}
    canrecruit=yes
    [modifications]
        # vary traits according to difficulty
        {ON_DIFFICULTY (
            {TRAIT_STRONG}
            {TRAIT_RESILIENT}
        ) (
            {TRAIT_STRONG}
            {TRAIT_QUICK}
        ) (
            {TRAIT_QUICK}
            {TRAIT_INTELLIGENT}
        )}
    [/modifications]
#enddef

#define DEFEAT_EVENT:HIKARU
    [event]
        name=last breath
        [filter]
            id=Hikaru
        [/filter]

        [message]
            speaker=Hikaru
            message= _ "All is lost now that I am dead..."
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Hikaru
        [/filter]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define CHARACTER_STATS:SORYU
    id="Soryu"
    name=_"Soryu"
    unrenamable=yes
    type="Aragwaith Adept"
    experience={ON_DIFFICULTY 20 12 4}
    [modifications]
        {TRAIT_LOYAL_HERO}
        # give her best possible trait combo
        {TRAIT_RESILIENT}
        {TRAIT_INTELLIGENT}
    [/modifications]
#enddef

#define DEFEAT_EVENT:SORYU
    [event]
        name=last breath
        [filter]
            id=Soryu
        [/filter]

        [message]
            speaker=Soryu
            message= _ "Ouch! I was not supposed to die!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Soryu
        [/filter]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define CHARACTER_STATS:RYUUMA
    id="Ryuuma"
    # inspiration: Shimotsuki Ryuma (One Piece)
    name=_"Ryuuma"
    type="Aragwaith Shield Guard"
    canrecruit=yes
    facing=se
    unrenamable=yes
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_RESISTANT}
        {TRAIT_FORTIFIED}
    [/modifications]
#enddef