#textdomain wesnoth-Electrifyre

#define LOOT_CHEST_OF_GOLD _SIDE _AMOUNT _X _Y
    [item]
        x,y={_X},{_Y}
        image=items/chest-plain-closed.png
    [/item]

    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side={_SIDE}
        [/filter]

        [sound]
            name=open-chest.wav
        [/sound]

        [remove_item]
            x,y={_X},{_Y}
        [/remove_item]

        [item]
            x,y={_X},{_Y}
            image=items/chest-plain-open.png
        [/item]

        [redraw][/redraw]

        {VARIABLE temp_gold_found ({_AMOUNT})}

        [loot]
            side=$unit.side
            amount={_AMOUNT}
        [/loot]

        {CLEAR_VARIABLE temp_gold_found}
    [/event]
#enddef

#define LOOT_GOLD_LARGE _SIDE _X _Y
    [item]
        x,y={_X},{_Y}
        image=items/gold-coins-large.png
    [/item]

    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side={_SIDE}
        [/filter]

        [remove_item]
            x,y={_X},{_Y}
        [/remove_item]

        [redraw][/redraw]

        {RANDOM 45..70}

        [loot]
            side=$unit.side
            amount=$random
        [/loot]

        {CLEAR_VARIABLE random}
    [/event]
#enddef

#define LOOT_GOLD_MEDIUM _SIDE _X _Y
    [item]
        x,y={_X},{_Y}
        image=items/gold-coins-medium.png
    [/item]

    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side={_SIDE}
        [/filter]

        [remove_item]
            x,y={_X},{_Y}
        [/remove_item]

        [redraw][/redraw]

        {RANDOM 20..50}

        [loot]
            side=$unit.side
            amount=$random
        [/loot]

        {CLEAR_VARIABLE random}
    [/event]
#enddef

#define LOOT_GOLD_SMALL _SIDE _X _Y
    [item]
        x,y={_X},{_Y}
        image=items/gold-coins-small.png
    [/item]

    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side={_SIDE}
        [/filter]

        [remove_item]
            x,y={_X},{_Y}
        [/remove_item]

        [redraw][/redraw]

        {RANDOM 10..25}

        [loot]
            side=$unit.side
            amount=$random
        [/loot]

        {CLEAR_VARIABLE random}
    [/event]
#enddef

#define ITEM_COLD_RES_ORB _SIDE _X _Y
    [event]
        name=prestart
        
        {VARIABLE orb_cold_res_taken no}
    [/event]

    {PLACE_IMAGE (items/ball-blue.png) ({_X}) ({_Y})}

    # special item here
    [event]
        name="moveto"
        first_time_only=no
        [filter]
            side={_SIDE}
            x,y={_X},{_Y}
        [/filter]
        [filter_condition]
            {VARIABLE_CONDITIONAL orb_cold_res_taken equals no}
        [/filter_condition]

        {SIMPLE_MSG unit ( _ "Ah! This looks cold but is actually comfortably warm!")}

        [item_dialog]
            variable=orb_cold_res_taken
            name= _ "Orb of Frost Resistance"
            image="items/ball-blue.png"
            description="<i>"+_"A shimmering sphere of ice-blue light, the Orb of Frost Resistance pulses with an unique energy, granting its bearer defiance against the biting chill of winter's wrath."+"</i>"
            effect= _ "<span fgcolor='grey' ><b>+30% Cold Resistance</b></span>"
            take_string= _ "Equip the Orb"
            leave_string= _ "Refuse to Equip"
        [/item_dialog]

        [if]
            {VARIABLE_CONDITIONAL orb_cold_res_taken equals yes}
            [then]
                {REMOVE_IMAGE 3 28}
                [object]
                    silent=yes
                    id=orb_cold_res
                    [filter]
                        x,y={_X},{_Y}
                    [/filter]
                    [effect]
                        apply_to=resistance
                        replace=no
                        [resistance]
                            cold=-30
                        [/resistance]
                    [/effect]
                [/object]
            [/then]
        [/if]
    [/event]

    [event]
        name="scenario end"

        {CLEAR_VARIABLE orb_cold_res_taken}
    [/event]
#enddef

#define ITEM_ELECTRIFYRE _X _Y
    [event]
        name=prestart

        {VARIABLE sword_electrifyre_picked no}
    [/event]

    [item]
        x,y={_X},{_Y}
        image="items/flame-sword-bare.png"
    [/item]

    [event]
        name=moveto
        first_time_only=no

        # filter only the aragwaithi leader
        [filter]
            side=1
            race=aragwaith
            canrecruit=yes
            x,y={_X},{_Y}
        [/filter]

        [filter_condition]
            {VARIABLE_CONDITIONAL sword_electrifyre_picked equals no}
        [/filter_condition]

        # wmllint: markcheck off
        [item_dialog]
            variable=sword_electrifyre_picked
            name= _ "Electrifyre: the Sword of Storms"
            image="items/sword-2.png"
            description="<i>"+_"This pristine longsword has been in possession of the Aragwaithi for generations. Legend speculates that the sword might have been crafted the essence of a once mighty Lightning Dragon Lord during the First Elemental War. Regardless, the sword is of exceptionally high quality and is well suited for a master swordsman."+"</i>"
            effect= _"<span fgcolor='grey'><b>Melee type becomes <i>electric</i>, melee accuracy is increased by 20% and melee damage is increased by 2.</b></span>"
            take_string= _"Take It"
            leave_string= _"Refuse It"
        [/item_dialog]
        # wmllint: markcheck on

        [if]
            {VARIABLE_CONDITIONAL sword_electrifyre_picked equals yes}
            [then]
                {REMOVE_IMAGE {_X} {_Y}}
                [object]
                    silent=yes
                    duration=forever
                    id=sword_electrifyre_buff
                    [filter]
                        x,y={_X},{_Y}
                    [/filter]
                    [effect]
                        apply_to=attack
                        increase_damage=2
                        increase_accuracy=20
                        set_icon="attacks/sword-electric.png"
                        [set_specials]
                            mode="append"
                            [damage_type]
                                id=lightning_lord_blessing
                                name=_"electric-enchanted"
                                description=_"This weapon will deal electric damage, If faced against any foe with superior electric resistance, it will deal blade damage instead."
                                replacement_type=electric
                                alternative_type=blade
                            [/damage_type]
                        [/set_specials]
                    [/effect]
                [/object]

                # scenario specific things
                [modify_turns]
                    add={ON_DIFFICULTY 10 10  8}
                [/modify_turns]

                [show_objectives]
                [/show_objectives]
            [/then]
        [/if]
    [/event]

    [event]
        name="scenario end"

        {CLEAR_VARIABLE sword_electrifyre_picked}
    [/event]
#enddef

#define ITEM_ANCIENT_PRISTINE_SPEAR _X _Y
    [event]
        name=prestart

        {VARIABLE ancient_pristine_spear_picked no}
    [/event]

    # spear
    {PLACE_IMAGE "items/spear-fancy-2.png" {_X} {_Y}}

    [event]
        name=moveto
        first_time_only=no

        [filter]
            side=1
            type_adv_tree=Aragwaith Spearman,Aragwaith Scout
            x,y={_X},{_Y}
        [/filter]

        [filter_condition]
            {VARIABLE_CONDITIONAL ancient_pristine_spear_picked equals no}
        [/filter_condition]

        {SIMPLE_MSG unit ( _ "A shiny spear?! Must be my luck day!")}

        # wmllint: markcheck off
        [item_dialog]
            variable=ancient_pristine_spear_picked
            name= _ "Ancient Pristine Spear"
            image="items/spear-fancy-2.png"
            description="<i>"+_"Forged in the forgotten halls of dwarfdom, this spear bears the pristine edge of ancient mastery. Once wielded by the vanguard of lost kings, its blade hungers to pierce the shadows of history anew."+"</i>"
            effect= _"<span fgcolor='grey'><b>+1 Melee Damage and <i>Honed</i> Weapon Special</b></span>"
            take_string= _"Equip It"
            leave_string= _"Refuse It"
        [/item_dialog]
        # wmllint: markcheck on

        [if]
            {VARIABLE_CONDITIONAL ancient_pristine_spear_picked equals yes}
            [then]
                {REMOVE_IMAGE {_X} {_Y}}
                [object]
                    silent=yes
                    id=ancient_pristine_spear_buff
                    [filter]
                        x,y={_X},{_Y}
                    [/filter]
                    [effect]
                        apply_to=attack
                        # ensure the pierce melee attack gets picked
                        range=melee
                        type=pierce

                        increase_damage=1
                        [set_specials]
                            mode=append
                            {WEAPON_SPECIAL_HONED}
                        [/set_specials]
                    [/effect]
                [/object]
            [/then]
        [/if]
    [/event]

    [event]
        name="scenario end"

        {CLEAR_VARIABLE ancient_pristine_spear_picked}
    [/event]
#enddef