#textdomain wesnoth-Electrifyre

[unit_type]
    id=Vale Windblade
    name= _ "Vale Windblade"
    race=valefolk
    image="units/valefolk/windblade.png"
    
    hitpoints=52
    movement_type=smallfoot 
    [resistance]
        cold=110
        fire=110
        pierce=80
        blade=90
        impact=90
    [/resistance]
    movement=5
    experience=100
    level=2
    alignment=liminal
    advances_to=null
	{AMLA_DEFAULT}
    cost=24
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/valefolk/windblade.png" "units/valefolk/windblade-defend.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=sword
        description=_"longsword"
        type=blade
        range=melee
        damage=7
        number=5
        icon=attacks/longsword.png
        accuracy=10
    [/attack]

    {GENERIC_SWORD_ANIM sword "units/valefolk/windblade.png"}

[/unit_type]
