#textdomain wesnoth-Electrifyre

[race]
    id=valefolk
    name= _ "race^Valefolk Human"
    plural_name = _ "race^Valefolk Humans"
    num_traits=2
    # first line of description
    help_taxonomy=human

    {ARAGWAITH_NAMES}

    description= _ "TODO: add race description"

    # define custom trait pool
    ignore_global_traits=yes
    
    {TRAIT_HARDY}
    {TRAIT_RESISTANT}
    {TRAIT_VIGILANT}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    {TRAIT_QUICK}
[/race]

{./valefolk}